body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#container {
    position: relative;
    width: 80%;
}

.text-content {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    line-height: 2rem;
}

.highlight {
    background-color: yellow;
}

.text-content div {
    margin-bottom: 20px;
}
